@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/Assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/Assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="gio-hang">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Shopping Cart</a></li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12" id="load_data">
                    <h1>Check out success!</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/Assets/js/categories_custom.js"></script>
}



