
@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>



@if (Model != null && Model.Any())
{
    <h3>Cart<span style="float:right">@Model.Count()</span></h3>
    var i = 0;
    double total = 0;
<div style="border: 1px solid orangered">
    <table class="table">
        @foreach (var item in Model)
        {
            total += item.TotalPrice;
            <tr>
                <td>@item.ProductName</td>
                <td width="100">$@item.Price<span style="color:orangered"> x </span>@item.Quantity</td>

            </tr>
        }
        <tr>
            <td>Total:</td>
            <td style="color: orangered; font-size:20px">$@total</td>
        </tr>
    </table>

</div>
    


}
else
{

}
